%h1 Registrations#new
%p Find me in app/views/registrations/new.html.haml

= form_for @user, url: registrations_path do |f|
  = f.text_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.submit
